@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  text-align: center;
  background-color: snow;
}
a {
  display: inline-block;
  background-color: #14203e;
  color: #ffffff;
  padding: 25px 40px;
  margin-top: 41px;
  border-radius: 10px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: bold;
}
